header h1  {text-align: center;}
main section h2 {text-align: center;}
main h2 {color: blueviolet;}

 body {background-image: url(screen-3.jpg) ;
background-size: cover;
background-repeat: no-repeat;
} 
h5 {
    color: blue;
}